<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kangchanghoon.oop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="MOTG"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KorActivity"
            android:label="@string/title_activity_kor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JapActivity"
            android:label="@string/title_activity_jap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChnActivity"
            android:label="@string/title_activity_chn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WesActivity"
            android:label="@string/title_activity_wes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResInfoActivity"
            android:label="식당정보"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MapActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RateActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".ReslistActivity" />
        <activity android:name=".SearchRlistActivity" />
        <activity android:name=".LocalRlistActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".SettingActivity"></activity>
    </application>

</manifest>