<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.diony.motg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity android:name=".init"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Authentication.Screen" />
        <activity android:name=".Authentication.Base" />
        <activity android:name=".Authentication.TypeDummy" />
        <activity android:name=".Authentication.TypeNaver" />

        <activity
            android:name=".Display.MainActivity"
            android:label="MOTG"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".Display.KorActivity"
            android:label="@string/title_activity_kor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Display.JapActivity"
            android:label="@string/title_activity_jap"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Display.ChnActivity"
            android:label="@string/title_activity_chn"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Display.WesActivity"
            android:label="@string/title_activity_wes"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Display.ResInfoActivity"
            android:label="식당정보"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".Display.MapActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".Display.RateActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity android:name=".Display.ReslistActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Display.SearchRlistActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Display.LocalRlistActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Display.HistoryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Display.SettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

</manifest>
